* {
	overflow-x: hidden;
}

body { 
	background-color: #30303d; 
	color: #fff;
	line-height:1.6em;
	margin:0;
}

h2{
	margin: 2.5rem 0;
	font-size:1.5rem;
	color: coral;
	letter-spacing: 2px;
	text-decoration: underline;
}

.button{
	background-color: #2196F3;
	color: #30303d;
	font-weight: bold;
	padding: 10px;
	border: none;
	font-size: 20px;
	/* box-shadow: 0 6px #999; */
  	border-radius: 5px;
  	cursor: pointer;
  	outline: none;
}

.button:hover{
	background-color: coral;
}

.button:active {
  background-color: #2196F3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#chartdiv {
  width: 100%;
  height: 500px;
}

.page-header{
	background-color: coral;
	color: #30303d;
	text-transform: uppercase;
	padding: 0 2rem 0 0;
	margin: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

a{
	text-decoration: none;
	text-transform: none;
	padding: 10px;
	background-color: #30303d;
	color: coral !important;
	border-radius: 5px;
}

a:visited {
	color: coral !important;
}

a:hover {
	background-color: rgb(46, 46, 48);
	transition: 0.3s ease;
}

.container-1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	margin: 10px;
	border: 1px;
}

.input-form label{
	margin: 0 0 5px 10px;
	letter-spacing: 1px;
	font-size: 18px;		
}

.input-form .form-group{
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}


.input-form input{
	border-radius: 5px;
	padding: 10px;
	margin-left:10px;
	width: 30vw;
}

.input-form button{
	margin-top: 1rem;
	margin-left: 7px;
	width: 100%;
}

table{
	margin: 10px 0;
	width: 40vw;
	margin-bottom: 50px;
	text-align: center;
	table-layout: fixed;
}

table, tr, th, td{
	padding: 10px;
	color: white;
	border: 1px solid white;
	border-collapse: collapse;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
}


.container{
	margin-bottom: 100px;
}


#statTable{
	margin-bottom: 50px;
}

.block{
	font-size: 20px;
	font-family: Arial;
	margin-bottom: 15px;
}


.form-group-2{
	margin: 20px 0;		
	font-size:1.5rem;
	color: coral;
	word-spacing: 3px;
	margin-left: 10%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h1{
	overflow: hidden;
}